.smBanner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.smBanner .bannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../../b17.jpg");
  min-width: 47%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.smBanner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.smBanner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.smBanner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.smBanner .bannerBox button:hover {
  background-color: #088178;
  border: 1px solid #088178;
}

.smBanner .bannerBox2 {
  background-image: url("../../../b10.jpg");
}

@media (max-width: 799px) {
  .smBanner .bannerBox {
    min-width: 100%;
    height: 30vh;
  }
}

@media (max-width: 477px) {
  .smBanner h2 {
    font-size: 24px;
  }

  .smBanner .bannerBox {
    height: 40vh;
  }
  
  .smBanner .bannerBox2 {
    margin-top: 20px;
  }
}